<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientPath" value="F:\Studia\II_stopien\II_semestr\mpw\fileBox\klient\bin\Debug\netcoreapp2.2\win10-x64\publish\Klient.exe"/>
    <add key="ServerAddress" value="127.0.0.1"/>
    <add key="ServerPort" value="4444"/>
  </appSettings>
</configuration>